[submodule "godot/godot-cpp"]
	path = godot/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = godot-4.3-stable
[submodule "godot/emsdk"]
	path = godot/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "godot/godot"]
	path = godot/godot
	url = https://github.com/godotengine/godot.git
	branch = godot-4.3-stable
